body {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: rgb(3, 92, 3);
}

div {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 50px;
  width: 100px;
  font-size: xx-large;
  background-color: rgb(138, 245, 138);
  border-color: green;
  color: green;
  cursor: pointer;
}